<p>This plug-in allows writing movies in various formats (ogg, avi,
mov...), using various codecs (h.264 is a particularly good
choice). It can be used as a drop-in replacement for
<A HREF="https://github.com/dhmunro/yorick-mpeg">yorick-mpeg</A>.</p>

<p>The main include file is <A HREF="#libav">libav.i</A>,
libav-mpeg.i provides a drop-in replacement for mpeg.i, avtest.i
contains a simple example/test function.</p>

<p>yorick-av can be downloaded
from <a href="https://github.com/paumard/yorick-av">github</a>.</p>
